<div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
      <span>
        <b>Warning!</b>Alerts may warn users of impending danger.</span>
</div>
<div class="control-group">
    <label class="control-label">Label Text</label>
    <div class="controls">
        <input class="input-large" type="text">
    </div>
</div>
<a class="btn btn-primary" href="#"><span class="btn-label">Button Label</span></a>
<p>Csdfdsfsdf sfdsf</p>
<div class="btn-group">
    <a class="btn" href="#"><span class="btn-label">1</span></a>
    <a class="btn btn-primary" href="#"><span class="btn-label">2</span></a>
    <a class="btn" href="#"><span class="btn-label">3</span></a>
    <a class="btn" href="#"><span class="btn-label">4</span></a>
    <a class="btn" href="#"><span class="btn-label">5</span></a>
</div>
